<% provide(:title, 'FAQs') %>

<div class="container">
	<h1>Frequently Asked Questions</h1>

	<div class="qa-section">

		<div class="q-box">
			<p>What is the answer to life and the universe?</p>
		</div> <!-- end .q-box -->

		<div class="a-box">
			<p>42.</p>
		</div> <!-- end .a-box -->

	</div> <!-- end .qa-section -->
</div> <!-- end .container -->

<br><br>