// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  VARIABLES & DEFINITIONS */
$LIGHTGREEN: #95C087;
$MAINGREEN: #4AA147;

$LIGHTGRAY: #AAAAAA;
$MEDIUMGRAY: #444444;
$DARKGRAY: #222222;



/*===========*/
/* UNIVERSAL */
/*===========*/
html {
	height: 100%;
}

body {
	margin: 0;
	font: {
		family: Arial, Helvetica, sans-serif;
		size: 14px;
	}
}

a:link {
	text-decoration: none;
	color: $LIGHTGRAY;
}

a:visited {
	color: $LIGHTGRAY;
}

a:hover {
	color: $MEDIUMGRAY;
}

.container {
	width: 960px;
	margin: 0 auto;
}



/*========*/
/* HEADER */
/*========*/
header {
	width: 100%;
	height: 60px;
	border-bottom: 5px solid $MAINGREEN;
}

.logo {
	width: 160px;
	height: 56px;
	display: inline-block;
}

nav {
	display: inline-block;
	float: right;
	margin-top: 15px;

	ul {
		list-style-type: none;

		li {
			float: left;
			margin-left: 30px;
			color: $LIGHTGRAY;
		}
	}
}

.signup-btn {
	color: #fff;
	background-color: $MAINGREEN;
	padding: 50px 5px 5px 5px;
	margin: -50px 0 0 100px;

	&:hover {
		background-color: $LIGHTGREEN;
		color: #fff;
	}
}



/*======*/
/* BODY */
/*======*/
h1 {
	color: $MAINGREEN;
}

p {
	color: $MEDIUMGRAY;
	margin-left: 2px;
}

.banner {
	height: 356px;
	position: relative;
}

.banner-image {
	background-image: url('banner-1.jpg');
	height: 356px;
	width: 960px;
	margin: 0 auto;
}

.action-bar {
	height: 50px;
	width: 100%;
	background-color: $MAINGREEN;
	position: absolute;
	bottom: 0;
}

.action-buttons {
	height: 100%;
	width: 960px;
	margin: 0 auto;

	div {
		display: inline-block;
		width: 317px;
		height: 100%;
		color: #fff;
		font-size: 18px;
		line-height: 50px;
		text-align: center;

		&:hover {
			background-color: $LIGHTGREEN;
		}
	}
}



/*========*/
/* FOOTER */
/*========*/
footer {
	width: 100%;
	color: #fff;
}

.site-map {
	background-color: $MEDIUMGRAY;
	height: 150px;
	margin-bottom: 2px;
}

.site-links {
	ul {
		display: inline-block;
		list-style-type: none;
		float: left;
		padding: 0;
		margin-right: 50px;

		li {
			margin-bottom: 10px;
		}
	}	
}

.legal-info {
	background-color: $DARKGRAY;
	height: 50px;
	line-height: 50px;
}