<footer>
	<div class="site-map">
		<div class="container">
			<div class="site-links">
				<ul>
					<li>Home</li>
					<li>Learn More</li>
					<li>Contact</li>
					<li>FAQs</li>
				</ul>
				<ul>
					<li>Sign Up</li>
					<li>Log In</li>
				</ul>
			</div> <!-- end .site-links -->
		</div> <!-- end .container -->
	</div> <!-- end .site-map -->

	<div class="legal-info">
		<div class="container">
			&#64 Leave Your Print Events, LLC
		</div> <!-- end .container -->
	</div> <!-- end .legal-info -->
</footer>