<header>
	<div class="container">

		<div class="logo">
			<%= link_to image_tag("logo.png", alt: "LYPE | Home"), root_path %>
		</div> <!-- end .logo -->

		<nav>
			<ul>
				<li><%= link_to 'Learn More', about_path %></li>
				<li>Contact</li>
				<li><%= link_to 'FAQs', faq_path %></li>
				<li class="signup-btn">Sign Up</li>
				<li>Log In</li>
			</ul>
		</nav>
	
	</div> <!-- end .container -->
</header>